PORT=4000
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/test_db
JWT_SECRET=my_super_secret_key123
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000,https://your-frontend-domain.vercel.app
APP_BASE_URL=http://localhost:4000
PAYMENT_PROVIDER=SIMULATED
HUBTEL_CLIENT_ID=
HUBTEL_CLIENT_SECRET=
HUBTEL_SIGNING_SECRET=
HUBTEL_BASE_URL=
EXPRESSPAY_API_KEY=
EXPRESSPAY_SIGNING_SECRET=
EXPRESSPAY_BASE_URL=
PAYMENT_CALLBACK_TOKEN=myPaymentSecretKey123
PAYMENT_CALLBACK_PROVIDER=AUTO
HUBTEL_CALLBACK_SECRET=
EXPRESSPAY_CALLBACK_SECRET=
VTU_PROVIDER=SIMULATED
VTU_API_KEY=
VTU_BASE_URL=
ADMIN_EMAIL=admin@prosperoushub.com
